html,
body {
  margin: 0;
  padding: 0;
}

:root {
  --progressbar-bg: lightgrey;
  --start: red;
  --middle: blue;
  --finish: green;
}

.container {
  width: 50vw;
  height: 50vh;
  margin: 2rem auto;
  position: relative;
}

.progress-bar {
  background: var(--progressbar-bg);
  width: 100%;
  height: 2rem;
  margin: 0 auto;
  border-radius: 1rem;
  position: absolute;
  top: 2;
}

.progress-status {
  width: 100%;
  height: 2rem;
  margin: 0 auto;
  border-radius: 1rem;
  position: absolute;
  top: 2;
  animation-name: colors;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes colors {
  0% {
    background-color: var(--start);
    width: 0%;
  }
  50% {
    background-color: var(--middle);
    width: 50%;
  }
  99% {
    background-color: var(--finish);
    width: 100%;
    animation: break 2s;
  }
  100% {
    background-color: var(--progressbar-bg);
    width: 100%;
  }
}
